### Attempt 4

- Kept "NAME" column.

- 6 new hidden layers were added with more neurons.

- Binning structure of some columns have changed.

## Preprocessing

In [66]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [67]:
# Drop the non-beneficial ID columns, 'EIN' and 'ASK_AMT' and 'STATUS'
application_df.drop(columns=['EIN','ASK_AMT','STATUS'], inplace=True)

In [68]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
IS_SUCCESSFUL                 2
dtype: int64

In [69]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [70]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
value_counts_df = pd.DataFrame(application_df['APPLICATION_TYPE'].value_counts())
value_counts_df.reset_index(inplace=True)
application_types_to_replace = []
for v in range(len(value_counts_df['APPLICATION_TYPE'])):
  if (value_counts_df['APPLICATION_TYPE'][v] < 1000) :
    application_types_to_replace.append(value_counts_df['index'][v])

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [71]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [72]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [73]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
value_counts_df = pd.DataFrame(application_df['CLASSIFICATION'].value_counts())
value_counts_df.reset_index(inplace=True)
classifications_to_replace = []
for v in range(len(value_counts_df['CLASSIFICATION'])):
  if (value_counts_df['CLASSIFICATION'][v] < 100) :
    classifications_to_replace.append(value_counts_df['index'][v])

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [74]:
# Choose a cutoff value and create a list of NAMEs to be replaced
# use the variable name `names_to_replace`
value_counts_df = pd.DataFrame(application_df['NAME'].value_counts())
value_counts_df.reset_index(inplace=True)
names_to_replace = []
for v in range(len(value_counts_df['NAME'])):
  if (value_counts_df['NAME'][v] < 10) :
    names_to_replace.append(value_counts_df['index'][v])

# Replace in dataframe
for cls in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
FREE & ACCEPTED MASONS OF WASHINGTON          10
NEW MEXICO GARDEN CLUBS INC                   10
NATIONAL ASSOCIATION OF HISPANIC NURSES       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: NAME, Length: 223, dtype: int64

In [75]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_numeric = pd.get_dummies(application_df)
application_df_numeric.head()

,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [76]:
# Split our preprocessed data into our features and target arrays
y = application_df_numeric["IS_SUCCESSFUL"].values
X = application_df_numeric.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

/var/folders/sy/ztgfvbpn65n1kg1vds3n9xw00000gn/T/ipykernel_73779/1927498741.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = application_df_numeric.drop(["IS_SUCCESSFUL"],1).values

In [77]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [78]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  180
hidden_nodes_layer2 = 160
hidden_nodes_layer3 = 140
hidden_nodes_layer4 = 120
hidden_nodes_layer5 = 100
hidden_nodes_layer6 = 80
hidden_nodes_layer7 = 60
hidden_nodes_layer8 = 40

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, input_dim=number_input_features, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, input_dim=number_input_features, activation="relu"))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, input_dim=number_input_features, activation="relu"))

# Fifth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer5, input_dim=number_input_features, activation="relu"))

# Sixth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer6, input_dim=number_input_features, activation="relu"))

# Seventh hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer7, input_dim=number_input_features, activation="relu"))

# Eighth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer8, input_dim=number_input_features, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model

In [79]:
# Compile the model
nn.compile(loss="binary_crossentropy",optimizer="adam", metrics=["accuracy"])

In [80]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 4s 3ms/step - loss: 0.4773 - accuracy: 0.7710
Epoch 2/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4458 - accuracy: 0.7833
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4427 - accuracy: 0.7845
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4396 - accuracy: 0.7859
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4386 - accuracy: 0.7880
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4371 - accuracy: 0.7872
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4373 - accuracy: 0.7883
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4352 - accuracy: 0.7889
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4340 - accuracy: 0.7905
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4339 - accuracy: 0.7895
Epoch 11/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4321 - accuracy: 0.7897
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4321 - accuracy: 0.7913
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4307 - accuracy: 0.7921
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4314 - accuracy: 0.7914
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4299 - accuracy: 0.7923
Epoch 16/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4293 - accuracy: 0.7926
Epoch 17/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4299 - accuracy: 0.7923
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4284 - accuracy: 0.7916
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4282 - accuracy: 0.7927
Epoch 20/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4280 - accuracy: 0.7920
Epoch 21/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4270 - accuracy: 0.7926
Epoch 22/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4266 - accuracy: 0.7931
Epoch 23/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4253 - accuracy: 0.7946
Epoch 24/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4245 - accuracy: 0.7958
Epoch 25/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4244 - accuracy: 0.7939
Epoch 26/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4237 - accuracy: 0.7951
Epoch 27/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4236 - accuracy: 0.7954
Epoch 28/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4241 - accuracy: 0.7944
Epoch 29/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4226 - accuracy: 0.7964
Epoch 30/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4223 - accuracy: 0.7957
Epoch 31/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4221 - accuracy: 0.7958
Epoch 32/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4219 - accuracy: 0.7969
Epoch 33/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4215 - accuracy: 0.7961
Epoch 34/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4211 - accuracy: 0.7968
Epoch 35/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4202 - accuracy: 0.7972
Epoch 36/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4205 - accuracy: 0.7977
Epoch 37/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4190 - accuracy: 0.7971
Epoch 38/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4188 - accuracy: 0.7968
Epoch 39/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4192 - accuracy: 0.7969
Epoch 40/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4196 - accuracy: 0.7975
Epoch 41/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4189 - accuracy: 0.7972
Epoch 42/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4184 - accuracy: 0.7984
Epoch 43/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4174 - accuracy: 0.7986
Epoch 44/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4238 - accuracy: 0.7973
Epoch 45/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4174 - accuracy: 0.7981
Epoch 46/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4168 - accuracy: 0.7987
Epoch 47/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4161 - accuracy: 0.7982
Epoch 48/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4153 - accuracy: 0.7984
Epoch 49/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4194 - accuracy: 0.7973
Epoch 50/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4176 - accuracy: 0.7973
Epoch 51/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4170 - accuracy: 0.7974
Epoch 52/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4151 - accuracy: 0.7973
Epoch 53/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4161 - accuracy: 0.7972
Epoch 54/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4168 - accuracy: 0.7969
Epoch 55/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4157 - accuracy: 0.7984
Epoch 56/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4147 - accuracy: 0.7987
Epoch 57/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4149 - accuracy: 0.7979
Epoch 58/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4148 - accuracy: 0.7988
Epoch 59/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4142 - accuracy: 0.7978
Epoch 60/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4139 - accuracy: 0.7984
Epoch 61/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4163 - accuracy: 0.7973
Epoch 62/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4143 - accuracy: 0.7981
Epoch 63/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4152 - accuracy: 0.7970
Epoch 64/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4161 - accuracy: 0.7982
Epoch 65/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4136 - accuracy: 0.7983
Epoch 66/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4143 - accuracy: 0.7972
Epoch 67/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4179 - accuracy: 0.7983
Epoch 68/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4217 - accuracy: 0.7952
Epoch 69/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4138 - accuracy: 0.7981
Epoch 70/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4137 - accuracy: 0.7982
Epoch 71/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4130 - accuracy: 0.7984
Epoch 72/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4121 - accuracy: 0.7997
Epoch 73/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4123 - accuracy: 0.7981
Epoch 74/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4133 - accuracy: 0.7990
Epoch 75/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4138 - accuracy: 0.7989
Epoch 76/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4140 - accuracy: 0.7970
Epoch 77/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4138 - accuracy: 0.7972
Epoch 78/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4140 - accuracy: 0.7979
Epoch 79/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4129 - accuracy: 0.7980
Epoch 80/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4133 - accuracy: 0.7972
Epoch 81/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4124 - accuracy: 0.7982
Epoch 82/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4138 - accuracy: 0.7979
Epoch 83/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4162 - accuracy: 0.7972
Epoch 84/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4169 - accuracy: 0.7969
Epoch 85/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4157 - accuracy: 0.7979
Epoch 86/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4136 - accuracy: 0.7989
Epoch 87/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4123 - accuracy: 0.7981
Epoch 88/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4132 - accuracy: 0.7986
Epoch 89/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4134 - accuracy: 0.7982
Epoch 90/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4131 - accuracy: 0.7967
Epoch 91/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4119 - accuracy: 0.7984
Epoch 92/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4128 - accuracy: 0.7988
Epoch 93/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4153 - accuracy: 0.7976
Epoch 94/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4131 - accuracy: 0.7979
Epoch 95/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4114 - accuracy: 0.7998
Epoch 96/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4121 - accuracy: 0.7986
Epoch 97/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4154 - accuracy: 0.7973
Epoch 98/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4127 - accuracy: 0.7977
Epoch 99/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4117 - accuracy: 0.7984
Epoch 100/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4220 - accuracy: 0.7974

In [81]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5503 - accuracy: 0.7824 - 460ms/epoch - 2ms/step
Loss: 0.5502544045448303, Accuracy: 0.7823906540870667

In [82]:
# Export our model to HDF5 file
nn.save("Output/AlphabetSoupCharity_Attempt4.h5")